* {
  font-family: monospace;
  font-size: 14px;
}

html {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  max-width: 960px;
  margin: auto;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  padding-top: 1em;
}

h1.title {
  color: #999;
  font-weight: normal;
  padding: 0;
}

#TOC:before {
  content: "TABLE OF CONTENTS";
  font-weight: bold;
}

#TOC a,
#TOC a:visited {
  color: gray;
}

#TOC a:hover,
#TOC a:focus {
  color: black;
}

ul {
  padding-bottom: 1em;
}

pre > code {
  display: block;
  margin: 1em 0 1em 2em;
  border: none;
  border-left: 1px solid black;
  padding: .5em 0 .5em 1em;
}
