* {
  font-family: monospace;
  font-size: 14px;
}

html {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  max-width: 920px;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  margin-top: 1em;
}

h1.title {
  color: #999;
  font-weight: normal;
  padding: 0;
}

h1[id]:target,
h2[id]:target,
h3[id]:target,
h4[id]:target,
h5[id]:target,
h6[id]:target {
  background-color: rgba(255, 127, 127, .1);
}

h1[id]:target:before,
h2[id]:target:before,
h3[id]:target:before,
h4[id]:target:before,
h5[id]:target:before,
h6[id]:target:before {
  margin-right: .5em;
  content: "\25b6";  /* black right-pointing triangle */
}

ul {
  padding-bottom: 1em;
}

pre > code {
  display: block;
  margin: 1em 0 1em 2em;
  border: none;
  border-left: 1px solid black;
  padding: .5em 0 .5em 1em;
}

#TOC:before {
  content: "TABLE OF CONTENTS";
  font-weight: bold;
}

#TOC a,
#TOC a:visited {
  color: gray;
  text-decoration: none;
}

#TOC a:hover,
#TOC a:focus {
  color: black;
  text-decoration: underline;
}

#TOC ul {
  list-style-type: none;
  padding: 0 0 0 1em;
}

#TOC > ul {
  margin-top: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  /*
   * If enough screen space is available, make the Table of Contents sticky and
   * position it to the right of the screen, ronn-style.
   */

  #TOC {
    position: fixed;
    left: 960px;
    top: 0;
    padding: 1em 20px;
    width: 100%;
    height: 100%;

    border-left: 1px solid #ccc;
    background: #eee;
    background-image: linear-gradient(to right, #e8e8e8 0, transparent 32px);
  }
}
