# Don't include the build directories in the repository
/build
/build-*
/package-build
/scan-build
/_CPack_Packages

# Don't include ctags in the repository
/tags

# Don't include IDE-specific files in the repository
*.kdev4
/.kdev4

# Don't include built packages
*.deb
*.rpm

# Don't include gh-pages build artifacts
/Gemfile.lock
/_site
